<%= stylesheet_link_tag 'index', :media => "all" %>

<%= page_entries_info @tweets %>
<div class="tweets-container">
  <h3>Tweet一覧</h3>
  <h3>投稿を検索</h3>
  <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag '検索する'  %>
  <% end %>

  <% @tweets.each do |t| %>
    <div class="tweet">
      <div class="main-box">
        <div class="left-container">
          <%= t.user.email %>
          <%= t.body %>
        </div>
        <div class="right-container">
          <%= link_to "詳細", tweet_path(t.id) %>
          <%= link_to "編集", edit_tweet_path(t.id) %>
          <%= link_to "削除", tweet_path(t.id), method: :delete %>
        </div>
      </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>
<%= paginate @tweets %>